<!-- home.ejs -->
 
<H2>!!WELCOME!! ,<%= user.name %></H2>
<h2>playlists</h2>
<br>
<div>
<label>upload a song</label>
<input type="file" id="song" name="songfile" >
</div>
<div>
    audio player
</div>