<!-- home.ejs -->
 
<H2>!!WELCOME!! ,<%= user.name %></H2>
<h2>playlists</h2>
<br>
<div>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <div >
            <label for="file" >Choose File</label>
            <input type="file" name="file" id="file">
          
        </div>
        <input type="submit" value="Submit" class="btn btn-primary btn-block">
      </form>
</div>
<div>
    audio player
    <br>

</div>