<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<html>
    <div class="index">
        <div class="form"><button type="button" ><a href="/login">login</a> </button>
        <button  ><a href="/register">register</a></button></div>
    </div>
</html>
<style>
    .index{
        justify-content: center;
        display: flex;
        margin: 0;
        padding: 0;
        height: 80vh;
        width: 200vh;
        align-content: center;
    }
    .form{
        margin: 0;
        margin-top: 30vh;
        justify-content: space-around;
        border: 10px;
        background-color: rgb(7, 68, 68);
        border-color: azure;
    }

</style> -->




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>book your movie</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap" rel="stylesheet">
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        body{
            background-color: rgb(7, 14, 52);
            color: white;
            font-family: 'Poppins';
            
        }
        .box{
            border-radius: 2%;
            margin: auto;
            margin-top: 7%;
            height: 23em;
            width: 30em;
            border: 3px solid ;
            padding: 10px;
            background-color: rgb(6, 3, 24);
            text-align: center;
            color: white;
            justify-content: center;
        }
        .u{
            font-size: 1.25em;
            margin: 45px;
        }
        .p{
            font-size: 1.25em;
            margin: 45px;
        }
        input{
            border-radius: 7px;
            height: 22px;
            width: 150px;
        }
        .log{
            margin-top: 5em;
            width: 15em;
            height: 2em;
        }
        .sign{
            text-decoration-color: black;
            text-decoration: none;
            margin-top: 1em;
            width: 15em;
            height: 2em;
        }
        a{

            text-decoration-color: black;
            text-decoration: none;
        }


    </style>
</head>
<body>
    <header>
    </header>
    <main>
        <div class="box">
            <h1>Welcome</h1>
            <section class="uap">
                <div class="u">
                    <button class="log" type="button" ><a href="/login">login</a> </button> <br>
                    <button  class="sign"><a href="/register">register</a></button>
                </div>
            </section>
        </div>
    </main>
</body>
</html>