<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>

<html>

<audio style="border:10px solid lightsalmon;
              border-radius: 50px;"
       controls>
    <source src="https://docs.google.com/uc?export=download&id=<%=song%>">
  </audio>

</html>
